<div class="main">
  <div class="title">PHOT UP</div>

 
     
  <%= form_with url: root_path do |f|%>
    <%= f.label :image, for: "phot", class: "fas fa-camera" do %>
      <%= f.file_field :image, id: "phot", style: "display: none;" %>
    <% end %>
    <%= f.text_field :name, id: "name" %>
    <%= f.text_field :content, placeholder: "Chat", id: "input" %>
    <%# <%= f.submit "PUSH ME", id: "btn" %>
  <% end %>
    <%# <input type="text" id="input"/> %>
    <button id="btn">PUSH ME</button>
  <div id="phots">
  <div id="messages">
    <%= render @phots %>
  </div>
  </div>
</div>

